.block {

    font: 200;
    margin-top: 200px;
}

a{




    


}


.square{

font-style: inherit;

}


#sidebar{

    float: right;
    width: 30%;
    background: rgb(0, 0, 0);
    color: wheat;
    padding: 10px;
    box-sizing: border-box;
    
}